// @import 'node_modules/bootstrap/scss/bootstrap';
// @import 'node_modules/bootstrap-vue/src/index.scss';

$primary: #007bff;

.fa-3x {
  font-size: 2rem;
}

.fa-2x {
  font-size: 1.3rem;
}

input {
  font-size: 1.5rem;
  padding-left: 4rem;
}

input[type=text] {
  height: 3.6rem !important;
  border-bottom: 1px solid #616161;
}

input[type=text]:focus{
  outline: 1px solid #2c97fa;
  border: 0;
}

input[type=checkbox] {
  zoom: 1.8;
}

input:focus::placeholder {
  font-size: 1rem;
}

label {
  margin: 0 0 0 0.5rem;
}

.btn-outline-light {
  color: black;
  padding: 0 0.4rem;
  border: 0;
  &:hover{
    background-color: white;
  }
}

.dropdown {
  .btn-light {
    background-color: white !important;
    padding: 0 0.5rem;
    border: 0;
  }
  
  .dropdown-item {
    color: black !important;
  }

  ul {
    padding: 0;
  }
}

.u-marginTopXLarge {
  margin-top: 3.2rem;
}
.u-marginTop {
  margin-top: 1rem;
}
.u-textPrimary {
  color: $primary;
}
.u-width100 {
  width: 100%;
}